.stSlider{
    background-color: rgb(211, 211, 211);
}
.element-container{
    display: flex;
}

.stApp {
    background-color: rgb(255, 230, 207);
}
.stTooltipIcon{
    justify-content: center;
}

.st-emotion-cache-1inwz65{
    font-size: 12px;
}

.stDownloadButton{
    justify-content: center;
    display: grid;
}

.st-emotion-cache-1kyxreq{
    justify-content: center;
}
img{
    border-radius: 20px;
}
img:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: all 0.2s;
}

@media screen and (min-height:641px){
    div .st-ae{
        width: 20vh;
    }
}
